.block {
    margin-top: 30px;
}

.news-feature,
.widget {

    margin-bottom: 30px;
}

.news-feature .title {
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
}

.card .nav-link {
    font-size: 13px;
    font-weight: 300;
}

.card .card-contet {
    font-weight: 300;
}

.block-title {
    font-size: 14px;
    font-weight: 800;
    color: #000;
}

.site-footer {
    padding: 30px 0;
}

.site-footer .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.site-footer .block-title {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 800;
}

.dark-bg .nav-link {
    font-size: 13px;
    color: #fff;
}

.dark-bg .block-title {
    color: #fff;
}

.site-secondary {
    background-color: #f1f1f1;
    padding: 0 0 30px 0;
}

.site-secondary {
    margin-top: 30px;
}

.site-secondary .card {
    background-color: #fff;
    box-shadow: none;
}

/*---for start-up Evan---*/

/*header*/

@media (max-width: 992px) {
    .site-menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .site-header-toggle {
        display: none;
    }
}

/*menu*/

.site-menu .nav-link {
    margin: 20px 10px;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 2px;
}

.site-menu .nav-link.become-btn {
    border: 2px solid #fff;
}

.site-menu .nav-link.become-btn:hover {
    background-color: #fff;
    color: #000;
}

/*banner*/

.site-banner {
    height: 600px;
    height: 100vh;
    position: relative;
}

@media (max-width: 992px) {
    .site-banner {
        height: 500px;
    }
}

/*banner big picture*/

.site-banner-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    /*background: url('../../images/1.jpeg') center center no-repeat;*/
    background: url("../1.jpeg");
    background-size: cover;
}

.site-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 80%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

}

/*searching box*/

.site-banner-form {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 30px 0;

}

.site-banner-form .button {
    display: block;
    width: 100%;
}

.site-banner-form .container {
    max-width: 800px;
}


/*section*/

.text-center {
    text-align: center;
}

.section-header {
    padding: 30px 0 20px 0;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
}

.card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-grid .card {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}

/*footer*/

.site-footer {
    margin-top: 60px;
    padding: 40px 0;
    background-color: #404344;
}

@media (max-width: 992px) {
    .site-footer {
        display: none;
    }
}

.site-footer .nav-link {
    font-size: 13px;
}

.site-footer .block-title {
    margin-bottom: 18px;
}
