# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 995c035ee0523d5c69f5f1a843dcb2d8b691e331a3f2ce4de4f3486ff2197e86db15ca6da2bc71f1269c5a075f1c4c919b8c8b88a62ba0042faca09b6e7ba9c6

test:
  secret_key_base: e91594c74e014c7c404d32d049694b9923d8c369217b534c442aa64f2e232c8b45aa9a6bf38b814a2165d4c1470d4aba506c9d3f77d79c3f26d68a9bdc3f9c6e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
